/.idea/
/.idea/dictionaries
/html/ui/.idea
/nxt.iml
/nxt_db
/nhz_*/
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/nxt.jar
/nxtservice.jar
/nxt_test_db
/README_win.txt
/nxt.log.lck
/bin
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre
/dist
deploy.sh
/resource/nxt.manifest.mf
/resource/nxtservice.manifest.mf
/nxt.pro
/nxt.exe
/nxtservice.exe
